[submodule "thirdparty/osxcross"]
	path = thirdparty/osxcross
	url = https://github.com/tpoechtrager/osxcross
[submodule "thirdparty/gut"]
	path = thirdparty/gut
	url = git@github.com:coffeebeats/gut.git
[submodule "thirdparty/godot-steam"]
	path = thirdparty/godot-steam
	url = https://github.com/coffeebeats/GodotSteam
	branch = gdextension-plugin
